*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #23424a;
    padding: 100px 0;
}

.hero__content {
    border: 2px solid rgb(229, 255, 165);
    color: #fff;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.hero__text {
    border: 2px solid pink;
    width: 60%;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 24px;
}

.hero p {
    font-size: 20px;
    font-weight: 400;
    color: #ffffffbb;
    line-height: 1.4;
    margin-bottom: 80px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: #23424a;
    background-color: #38cfd9;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 16px 48px;
}
